@font-face {
    font-family: "ITC_Souvenir_STD";
    src:
        local("ITC_Souvenir_STD"),
        url("assets/ITC_Souvenir_Std_Bold.otf") format("opentype"),
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px #07090C;
}

* {
    font-family: sans-serif;
}

h1, .scroll-link {
    font-family: 'Roboto Mono', monospace;
    font-weight: 550;
    color: white;
    text-shadow: 2px 2px #07090C;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px #07090C;
    text-align: center;
}

html, body {
    margin: 0;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-image: url("assets/CMIMAGE3.jpg");
}


.parallax-section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 50vH;
    height: 110vH;
    background-position: center;
    border: 2px rgb(red, green, blue);
    border-radius: 10pt;
}

.center-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-card {
    background: #0d1218e4;
    box-shadow: 0 0px 32px 0 #ed854061;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 7px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 5%;
    max-width: 70%;
}

.card-nav {
    display: flex;
    flex-direction: row;
}

.card-nav p {
    flex-grow: 0;
}
.card-nav div {
    flex-grow: 1;
}

.seperator {
    height: 10vH;
    width: 100%;

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    filter: blur( 10px );
}

.scroll-link {
    text-decoration: underline;
    text-align: center;
    cursor:pointer;
}